
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p id="notice"><%= notice %></p>

<h1>投稿ページ</h1>
<%= search_form_for @q do |f| %>

  <%# start 特定の文字列で始まる商品名で検索 %>
  <p>TitleまたはContentを検索</p>
  <%#= f.search_field :title_start %>
  <!--<p>Content</p>-->
  <%= f.search_field :content_or_title_cont %><br>

<%= f.submit %><br>
<%="================================================="%>

<% end %>

<table>
  <thead>
    <!--<tr>-->
    <!--  <p class="">Image</p>-->
      <!--<p>Title</p>-->
      <!--<p>Content</p>-->
    <!--  <p colspan="3"></p>-->
    <!--</tr>-->
  </thead>
  
  <tbody class='img-rounded'>
    <% @shares.each do |share| %>
      <div>
        <p><%= share.title %></p>
        <p><%= share.content %></p>
        <p><%= image_tag share.image %></p>
        
        <% if current_user.id == share.user_id %>
          <p><%= link_to 'Show', share, class: 'btn btn-default' %></p><br>
          <p><%= link_to 'Edit', edit_share_path(share), class: 'btn btn-info' %></p>
          <p><%= link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>

        <% else %>
          <p><%= link_to 'Show', share, class: 'btn btn-default' %></p>
          <br>
        <% end %>
      </div>
      <%="-----------------------------------------"%>
    <% end %>
    
    
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_share_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
