<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @share.image %>
</p>
<!--<p>-->
  <!--<strong>投稿写真:</strong>-->
  <%#= hidden_field_tag :"cache[image]", @share.image.cache_name %>
  <%#= image_tag(@share.image) %>
<!--</p>-->

<!--<p>-->
  <!--<strong>Title:</strong>-->
  <%#= @share.title %>
<!--</p>-->

<!--<p>-->
  <!--<strong>Content:</strong>-->
  <%#= @share.content %>
<!--</p>-->
<% if current_user.id == @share.user_id %>

<%= link_to 'Edit', edit_share_path(@share) %> 
<% else %>
<%= link_to 'Back', shares_path %>
<% end %>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="share-text">
    <p><strong>タイトル</strong></p>
    <p><%= @share.title %></p>
    <p><strong>内容</strong></p>
    <p><%= @share.content %></p>
  </div>
  <p>コメント一覧</p>
  <div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, share: @share } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, share: @share } %>
  
  <%= link_to '編集', edit_share_path(@share) %> |
  <%= link_to '戻る', shares_path %>
</div>