<h1>Stylist Log in </h1>
<%= form_with(scope: :session, url: stylist_sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
  <%= link_to 'stylist sign up', new_stylist_path %>
<% end %>
<%#= link_to 'userはコチラ', new_user_session_path %>
<%#= link_to 'ownerはコチラ', new_owner_session_path %>