<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stylist.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @stylist.age %>
</p>

<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
